@import '../../styles/mixins';

.home-default-page {
  text-align: center;
  height: 300px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed sandybrown;
  background: linear-gradient(to right, rgb(224, 234, 252), rgb(207, 222, 243));

  .app {
    text-align: center;
  }

  .roomId {
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
  }
  
  .create-new {
    width: 100%;
  }
}
